@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:wght@100;400&family=Roboto:wght@100;300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container div#template {
  width: 352px;
  height: 736px;
  position: absolute;
  background-image: url("../images/phone-template.png");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.container section.content-wrapper {
  position: relative;
  width: 352px;
  height: 736px;
}

.container section.content-wrapper section {
  width: 352px;
  height: 736px;
  position: absolute;
  z-index: -1;
}

.container section.content-wrapper section#page1 {
  background: #e0dfdf;
}

.container section.content-wrapper section#page1 div#content {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a5a3cb), to(#c9c8d6));
  background-image: linear-gradient(180deg, #a5a3cb, #c9c8d6);
  width: 100%;
  height: 150px;
}

.container section.content-wrapper section#page1 div#content div#top-section {
  height: 100px;
  padding: 1.5em;
  width: 100%;
  overflow: hidden;
}

.container section.content-wrapper section#page1 div#content div#top-section p:nth-child(1) {
  font-size: 1.75em;
  letter-spacing: 2px;
}

.container section.content-wrapper section#page1 div#content div#top-section p:nth-child(2) {
  font-size: 2em;
  text-transform: uppercase;
  margin-top: 0.15em;
}

.container section.content-wrapper section#page1 div#content div#top-section h4 {
  font-weight: 800;
  margin-top: 0.25em;
}

.container section.content-wrapper section#page1 div#content div#checking, .container section.content-wrapper section#page1 div#content div#savings {
  position: relative;
  top: -10px;
  background-color: #fff;
  height: 120px;
  width: 90%;
  margin: 0 auto;
  border-radius: 1em;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.container section.content-wrapper section#page1 div#content div#checking h3, .container section.content-wrapper section#page1 div#content div#savings h3 {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 1em;
}

.container section.content-wrapper section#page1 div#content div#checking p:nth-child(2), .container section.content-wrapper section#page1 div#content div#savings p:nth-child(2) {
  font-size: 1.75em;
  letter-spacing: 2px;
}

.container section.content-wrapper section#page1 div#content div#checking p:nth-child(3), .container section.content-wrapper section#page1 div#content div#savings p:nth-child(3) {
  font-size: 0.75em;
  letter-spacing: 2px;
}

.container section.content-wrapper section#page1 div#content div#savings {
  top: 8px;
}

.container section.content-wrapper section#page1 div#content div#account {
  position: relative;
  top: 0.2em;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container section.content-wrapper section#page1 div#content div#account button {
  padding: 0.75em 1.5em;
  font-weight: 800;
  font-size: 1.15em;
  border-radius: 1.35em;
  border: 0.05px solid black;
  background-color: transparent;
}

.container section.content-wrapper section#page2 {
  background: blue;
  display: none;
}
/*# sourceMappingURL=style.css.map */