@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:wght@100;400&family=Roboto:wght@100;300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container div#template {
  width: 352px;
  height: 736px;
  position: absolute;
  background-image: url("../images/phone-template.png");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  z-index: 1;
}

.container section.content-wrapper {
  position: relative;
  width: 352px;
  height: 736px;
}

.container section {
  width: 352px;
  height: 736px;
  position: absolute;
}

.container section#landing {
  background: red;
  display: none;
}

.container section#page1 {
  background: #e0dfdf;
}

.container section#page1 div#content {
  position: relative;
  height: 170px;
  top: -32px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a5a3cb), to(#c9c8d6));
  background-image: linear-gradient(180deg, #a5a3cb, #c9c8d6);
}

.container section#page1 div#content div#top-section {
  position: relative;
  top: 16px;
  padding: 1.5em;
  width: 100%;
  overflow: hidden;
}

.container section#page1 div#content div#top-section p:nth-child(1) {
  font-size: 1.75em;
  letter-spacing: 2px;
}

.container section#page1 div#content div#top-section p:nth-child(2) {
  font-size: 2em;
  text-transform: uppercase;
  margin-top: 0.15em;
}

.container section#page1 div#content div#top-section h4 {
  font-weight: 800;
  margin-top: 0.25em;
}

.container section#page1 div#content div#checking,
.container section#page1 div#content div#savings {
  position: relative;
  background-color: #fff;
  height: 120px;
  width: 90%;
  margin: 0 auto;
  border-radius: 1em;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.container section#page1 div#content div#checking h3,
.container section#page1 div#content div#savings h3 {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 1em;
}

.container section#page1 div#content div#checking p:nth-child(2),
.container section#page1 div#content div#savings p:nth-child(2) {
  font-size: 1.75em;
  letter-spacing: 2px;
}

.container section#page1 div#content div#checking p:nth-child(3),
.container section#page1 div#content div#savings p:nth-child(3) {
  font-size: 0.75em;
  letter-spacing: 2px;
}

.container section#page1 div#content #checking {
  top: 8px;
}

.container section#page1 div#content div#savings {
  top: 24px;
}

.container section#page1 div#content div#account {
  position: relative;
  top: 24px;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: auto;
}

.container section#page1 div#content div#account button {
  position: relative;
  z-index: 2;
  padding: 0.75em 1.5em;
  font-weight: 800;
  font-size: 1.15em;
  cursor: pointer;
  border-radius: 24px;
  border: 0.05px solid black;
  background-color: transparent;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.container section#page1 div#content div#account button:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#a5a3cb), to(#c9c8d6));
  background-image: linear-gradient(0deg, #a5a3cb, #c9c8d6);
  color: rgba(0, 0, 0, 0.6);
}

.container section#page1 div#content #deal p {
  margin: 0.5em 0 0 2em;
  font-weight: 800;
}

.container section#page1 div#content #deal p img#offer {
  width: 1.2em;
  margin-left: 1em;
}

.container section#page1 div#content #deal div#deal-icons {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.container section#page1 div#content #deal div#deal-icons img {
  width: 30%;
}

.container section#page1 div#content div#bottom-content {
  height: 120px;
  background-color: white;
}

.container section#page1 div#content div#bottom-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.25em;
  padding-top: 1em;
}

.container section#page1 div#content div#bottom-content div img {
  width: 13%;
}

.container section#page2 {
  display: none;
  background: #e0dfdf;
}

.container section#page2 div#content {
  position: relative;
  height: 170px;
  top: -32px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a5a3cb), to(#c9c8d6));
  background-image: linear-gradient(180deg, #a5a3cb, #c9c8d6);
}
/*# sourceMappingURL=style.css.map */